<div class="thursday series-nav">
  <a href="slasher.html" style="animation: none;">
    <img src="img/throwback-thursday-logo.png" class="slasher-logo" />
  </a>
  <div class="nav-series">
    <div class="float-left"><span class="chiller-search-thick-weathered"></span></div>
    <a href="index.html" ><img src="img/chiller-nav-logo.png" class="chiller-logo"></a>
  </div>
  <div class="nav-social">
    <div class="float-left">
      <a href="get-chiller.html">
        <div class="button-container">
          <div class="button1-left">
              <div class="button">Get Chiller</div>
          </div>
          <div class="button1-right">
              <div class="button">Get Chiller</div>
          </div>
        </div>
      </a>
    </div>
    <div class="float-left">
      <div class="chiller-facebook-weathered"></div>
    </div>
    <div class="float-left">
      <div class="chiller-twitter-weathered"></div>
    </div>
    <!--<div class="float-left">
      <div class="chiller-instagram-weathered"></div>
    </div>-->
    <div class="float-left">
      <div class="chiller-youtube-weathered"></div>
    </div>
  </div>
  <div class="clear"></div>
  <div class="tune-in-nav">Thursdays @ 9P ET</div>
</div>
<div class="side-navigation-container">
  <a href="#" class="side-navigation-trigger"><span>Menu</span></a>
  <div class="side-navigation">
    <div class="side-navigation-search">SEARCH <span class="chiller-search-thick-weathered"></span></div>
    <a href="index.html">
      <img src="img/top-menu-logo.png" />
    </a>
    <div class="side-navigation-social">
      <div class="chiller-facebook-weathered"></div>
      <div class="chiller-twitter-weathered"></div>
      <!--<div class="chiller-instagram-weathered"></div>-->
      <div class="chiller-youtube-weathered"></div>
    </div>
    <ul>
      <li class="nav-item"><a href="all-series.html">Shows</a></li>
      <li class="nav-item"><a href="all-movies.html">Movies</a></li>
      <li class="nav-item"><a href="schedule.html">Schedule</a></li>
      <li class="nav-item"><a href="specials.html">Marathons &amp; Events</a></li>
      <li class="nav-item"><a href="friday.html">The Friday 13</a></li>
      <li class="nav-item"><a href="blog.html">Blog</a></li>
    </ul>
  </div>
  <div class="side-overlay"></div>
</div>
