<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>User Acceptance Testing | Chiller TV</title>
    <link href="app.css" rel="stylesheet">
    <link href="lib/animsition.css" rel="stylesheet">
    <link rel="shortcut icon" href="/img/favicon.png" />
  </head>
  <body>
    <div class="header">
      <img src="img/chiller-white-logo.png" class="logo" />
      <div class="page-title"><span>U</span>ser<span> A</span>cceptance <span>T</span>esting</div>
    </div>

    <!-- General Section -->

    <div class="section">
      <div class="section-title">General</div>
      <div class="section-tile-wrapper">

        <div class="section-tile">
          <a class="details-link" data-details-link="find-content">
            <div class="tile-img">
              <div class="img-overlay">
                <div class="overlay-text"><i class="chiller-view-eye-2-weathered"></i> View</div>
              </div>
              <img src="img/general/find-content/01.jpg" />
            </div>
          </a>
          <div class="tile-copy">
            <div class="tile-title">Finding Content</div>
            <div class="tile-description">An introduction to how to find a content in Content Library</div>
          </div>
        </div>

        <div class="section-tile">
          <a class="details-link" data-details-link="collection-common">
            <div class="tile-img">
              <div class="img-overlay">
                <div class="overlay-text"><i class="chiller-view-eye-2-weathered"></i> View</div>
              </div>
              <img src="img/general/collection-list/01.jpg" />
            </div>
          </a>
          <div class="tile-copy">
            <div class="tile-title">Collection Intro</div>
            <div class="tile-description">An introduction to what collections are and where they live within the CMS</div>
          </div>
        </div>

        <div class="section-tile">
          <a class="details-link" data-details-link="collection-add">
            <div class="tile-img">
              <div class="img-overlay">
                <div class="overlay-text"><i class="chiller-view-eye-2-weathered"></i> View</div>
              </div>
              <img src="img/general/collection-list/add/04.jpg" />
            </div>
          </a>
          <div class="tile-copy">
            <div class="tile-title">Add to Collection</div>
            <div class="tile-description">Learn how to add an item to Collection or Collection Group</div>
          </div>
        </div>

        <div class="section-tile">
          <a class="details-link" data-details-link="collection-delete">
            <div class="tile-img">
              <div class="img-overlay">
                <div class="overlay-text"><i class="chiller-view-eye-2-weathered"></i> View</div>
              </div>
              <img src="img/general/collection-list/delete/04.jpg" />
            </div>
          </a>
          <div class="tile-copy">
            <div class="tile-title">Delete a Collection</div>
            <div class="tile-description">Learn how to delete an item from Collection or Collection Group</div>
          </div>
        </div>

        <div class="section-tile">
          <a class="details-link" data-details-link="collection-replace">
            <div class="tile-img">
              <div class="img-overlay">
                <div class="overlay-text"><i class="chiller-view-eye-2-weathered"></i> View</div>
              </div>
              <img src="img/general/collection-list/replace/04.jpg" />
            </div>
          </a>
          <div class="tile-copy">
            <div class="tile-title">Replace an item in Collection</div>
            <div class="tile-description">Learn how to replace an item in Collection or Collection Group.</div>
          </div>
        </div>

        <div class="section-tile">
          <a class="details-link" data-details-link="collection-rearrange">
            <div class="tile-img">
              <div class="img-overlay">
                <div class="overlay-text"><i class="chiller-view-eye-2-weathered"></i> View</div>
              </div>
              <img src="img/general/collection-list/rearrange/04.jpg" />
            </div>
          </a>
          <div class="tile-copy">
            <div class="tile-title">Rearrange items in a Collection</div>
            <div class="tile-description">Learn how to rearrange items in Collection or Collection Group</div>
          </div>
        </div>

         <div class="section-tile">
          <a class="details-link" data-details-link="upload-media">
            <div class="tile-img">
              <div class="img-overlay">
                <div class="overlay-text"><i class="chiller-view-eye-2-weathered"></i> View</div>
              </div>
              <img src="img/general/media/upload/01.jpg" />
            </div>
          </a>
          <div class="tile-copy">
            <div class="tile-title">Upload Media</div>
            <div class="tile-description">Learn how to upload media to a Media card</div>
          </div>
        </div>

        <div class="section-tile">
          <a class="details-link" data-details-link="media-library">
            <div class="tile-img">
              <div class="img-overlay">
                <div class="overlay-text"><i class="chiller-view-eye-2-weathered"></i> View</div>
              </div>
              <img src="img/general/media/library/01.jpg" />
            </div>
          </a>
          <div class="tile-copy">
            <div class="tile-title">Select Media item from Asset Library</div>
            <div class="tile-description">Learn how to select media items from the Asset Library in a Media card</div>
          </div>
        </div>

        <div class="section-tile">
          <a class="details-link" data-details-link="edit-metadata">
            <div class="tile-img">
              <div class="img-overlay">
                <div class="overlay-text"><i class="chiller-view-eye-2-weathered"></i> View</div>
              </div>
              <img src="img/general/media/edit/01.jpg" />
            </div>
          </a>
          <div class="tile-copy">
            <div class="tile-title">Edit Media's Metadata</div>
            <div class="tile-description">Learn how to edit metadata of an image or a MPX Video</div>
          </div>
        </div>

      </div>
    </div>

    <!-- Page Specific Section -->

    <div class="section">
      <div class="section-title">Page Specific</div>
      <div class="section-tile-wrapper">

        <div class="section-tile">
          <a class="details-link" data-details-link="series-featured">
            <div class="tile-img">
              <div class="img-overlay">
                <div class="overlay-text"><i class="chiller-view-eye-2-weathered"></i> View</div>
              </div>
              <img src="img/all-series/all-series-thumb.jpg" />
            </div>
          </a>
          <div class="tile-copy">
            <div class="tile-title">All Shows Landing Page</div>
            <div class="tile-description">Learn how to add or replace shows in the All Shows landing page</div>
          </div>
        </div>

        <div class="section-tile">
          <a class="details-link" data-details-link="original-about">
            <div class="tile-img">
              <div class="img-overlay">
                <div class="overlay-text"><i class="chiller-view-eye-2-weathered"></i> View</div>
              </div>
              <img src="img/original-series-movie/about/original-series-about-thumb.jpg" />
            </div>
          </a>
          <div class="tile-copy">
            <div class="tile-title">Original Series/Movies About Page</div>
            <div class="tile-description">Learn how to update the text on About Page</div>
          </div>
        </div>

        <div class="section-tile">
          <a class="details-link" data-details-link="original-new-person">
            <div class="tile-img">
              <div class="img-overlay">
                <div class="overlay-text"><i class="chiller-view-eye-2-weathered"></i> View</div>
              </div>
              <img src="img/original-series-movie/cast/person/original-cast-detail2-thumb.jpg" />
            </div>
          </a>
          <div class="tile-copy">
            <div class="tile-title">Create New Person</div>
            <div class="tile-description">Learn how to create a new Person node to be displayed in the Original Series/Movies' cast detail page</div>
          </div>
        </div>
        
        <div class="section-tile">
          <a class="details-link" data-details-link="original-cast">
            <div class="tile-img">
              <div class="img-overlay">
                <div class="overlay-text"><i class="chiller-view-eye-2-weathered"></i> View</div>
              </div>
              <img src="img/original-series-movie/cast/original-cast-thumb.jpg" />
            </div>
          </a>
          <div class="tile-copy">
            <div class="tile-title">Original Series/Movies Cast Landing Page</div>
            <div class="tile-description">Learn how to update the listing in the Cast Landing page of Original Series/Movies</div>
          </div>
        </div>

        <div class="section-tile">
          <a class="details-link" data-details-link="new-gallery">
            <div class="tile-img">
              <div class="img-overlay">
                <div class="overlay-text"><i class="chiller-view-eye-2-weathered"></i> View</div>
              </div>
              <img src="img/original-series-movie/gallery/original-gallery-thumb.jpg" />
            </div>
          </a>
          <div class="tile-copy">
            <div class="tile-title">Original Series/Movies Gallery</div>
            <div class="tile-description">Learn how to create a new gallery and put it into the Gallery Landing page of Original Series/Movies</div>
          </div>
        </div>

        <div class="section-tile">
          <a class="details-link" data-details-link="new-episode">
            <div class="tile-img">
              <div class="img-overlay">
                <div class="overlay-text"><i class="chiller-view-eye-2-weathered"></i> View</div>
              </div>
              <img src="img/original-series-movie/episode/original-episode-thumb.jpg" />
            </div>
          </a>
          <div class="tile-copy">
            <div class="tile-title">Original Series/Movies Episode</div>
            <div class="tile-description">Learn how to create a new episode and Episode Recap for an Original Series</div>
          </div>
        </div>

        <div class="section-tile">
          <a class="details-link" data-details-link="new-event">
            <div class="tile-img">
              <div class="img-overlay">
                <div class="overlay-text"><i class="chiller-view-eye-2-weathered"></i> View</div>
              </div>
              <img src="img/marathons-events/marathons-events-thumb.jpg" />
            </div>
          </a>
          <div class="tile-copy">
            <div class="tile-title">Add New Marathons &amp; Events</div>
            <div class="tile-description">Learn how to create a new Marathon/Event</div>
          </div>
        </div>
      </div>
    </div>

    <div class="sub-pages">
      <div class="subpage" data-subpage-id="find-content">
        <div>
          {% include 'includes/general/find-content.html' %}
        </div> 
      </div>
      <div class="subpage" data-subpage-id="collection-common">
        <div>
          {% include 'includes/general/collection-common.html' %}
        </div> 
      </div>
      <div class="subpage" data-subpage-id="collection-add">
        <div>
          {% include 'includes/general/collection-add.html' %}
        </div> 
      </div>
      <div class="subpage" data-subpage-id="collection-delete">
        <div>
          {% include 'includes/general/collection-delete.html' %}
        </div> 
      </div>
      <div class="subpage" data-subpage-id="collection-rearrange">
        <div>
          {% include 'includes/general/collection-rearrange.html' %}
        </div> 
      </div>
      <div class="subpage" data-subpage-id="collection-replace">
        <div>
          {% include 'includes/general/collection-replace.html' %}
        </div> 
      </div>
      <div class="subpage" data-subpage-id="upload-media">
        <div>
          {% include 'includes/general/upload-media.html' %}
        </div> 
      </div>
      <div class="subpage" data-subpage-id="media-library">
        <div>
          {% include 'includes/general/media-library.html' %}
        </div> 
      </div>
      <div class="subpage" data-subpage-id="edit-metadata">
        <div>
          {% include 'includes/general/edit-metadata.html' %}
        </div> 
      </div>
      <div class="subpage" data-subpage-id="series-featured">
        <div>
          {% include 'includes/all-series/featured.html' %}
        </div> 
      </div>
      <div class="subpage" data-subpage-id="original-about">
        <div>
          {% include 'includes/original-series-movie/about.html' %}
        </div> 
      </div>
      <div class="subpage" data-subpage-id="original-new-person">
        <div>
          {% include 'includes/original-series-movie/cast/new-person.html' %}
        </div> 
      </div>
      <div class="subpage" data-subpage-id="original-cast">
        <div>
          {% include 'includes/original-series-movie/cast/cast-landing.html' %}
        </div> 
      </div>
      <div class="subpage" data-subpage-id="new-gallery">
        <div>
          {% include 'includes/original-series-movie/new-gallery.html' %}
        </div> 
      </div>
      <div class="subpage" data-subpage-id="new-episode">
        <div>
          {% include 'includes/original-series-movie/new-episode.html' %}
        </div> 
      </div>
      <div class="subpage" data-subpage-id="new-event">
        <div>
          {% include 'includes/marathons-events/new-event.html' %}
        </div> 
      </div>
      <div class="subpage" data-subpage-id="details">
        <div>
          {% include 'includes/details.html' %}
        </div> 
      </div>
      <div class="subpage" data-subpage-id="details2">
        <div>
          {% include 'includes/details2.html' %}
        </div> 
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="lib/jQuery/jquery-1.11.3.min.js"></script>
    <script src="js/scripts.js"></script>
    <script src="lib/animsition.min.js"></script>
    <script src="js/main.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script>
    $(document).ready(function() {
      $(".animsition").animsition({
        inClass: 'fade-in',
        outClass: 'fade-out',
        inDuration: 1500,
        outDuration: 800,
        linkElement: '.animsition-link',
        // e.g. linkElement: 'a:not([target="_blank"]):not([href^="#"])'
        loading: true,
        loadingParentElement: 'body', //animsition wrapper element
        loadingClass: 'animsition-loading',
        loadingInner: '', // e.g '<img src="loading.svg" />'
        timeout: false,
        timeoutCountdown: 5000,
        onLoadEvent: true,
        browser: [ 'animation-duration', '-webkit-animation-duration'],
        // "browser" option allows you to disable the "animsition" in case the css property in the array is not supported by your browser.
        // The default setting is to disable the "animsition" in a browser that does not support "animation-duration".
        overlay : false,
        overlayClass : 'animsition-overlay-slide',
        overlayParentElement : 'body',
        transition: function(url){ window.location.href = url; }
      });
    });
    </script>
  </body>
</html>
