<div id="side-nav" class="qp-ui" data-qp-ui="{ 'SideNavDrawer': {} }">
    <div class="side-nav-wrapper">
        <span id="logo"><img src="img/logo.png" alt="Logo"/></span>
        <nav>
            <dl>
                <dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">Chiller Design Guide</dt>
                <dd>
                    <a class="" href="index.html">Introduction</a>
                </dd>

                <dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">Layout</dt>
                <dd>
                    <a class="" href="layout-responsive-ui.html">Responsive UI</a>
                    <a class="" href="layout-homepage.html">Homepage</a>
                    <a class="" href="layout-all-shows.html">All Shows/Movies</a>
                    <a class="" href="layout-individual-show.html">Individual Show</a>
                    <a class="" href="layout-gallery.html">Gallery</a>
                    <a class="" href="layout-schedule.html">Schedule</a>
                </dd>

                <dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">Style</dt>
                <dd>
                    <a class="" href="style-color.html">Color</a>
                    <a class="" href="style-iconography.html">Iconography</a>
                    <a class="" href="style-imagery.html">Imagery</a>
                    <a class="" href="style-typography.html">Typography</a>
                </dd>

                <dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">Components</dt>
                <dd>
                    <a class="" href="components-cards.html">Cards</a>
                    <a class="" href="components-buttons.html">Buttons</a>
                    <a class="" href="components-navigation.html">Navigation</a>
                    <a class="" href="components-footer.html">Footer</a>
                    <a class="" href="components-progress-bar.html">Progress Bar</a>
                    <a class="" href="components-textfields.html">Text Fields</a>
                    <a class="" href="components-tooltips.html">Tooltips</a>
                    <a class="" href="components-videos.html">Videos</a>
                </dd>

                <dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">Animation</dt>
                <dd>
                    <a class="" href="animation-hover-interaction.html">Hover Animations</a>
                    <a class="" href="animation-transitions.html">Transitions</a>
                    <a class="" href="animation-feedback-interaction.html">Feedback interaction</a>
                </dd>
            </dl>
        </nav>
    </div>
</div>
