$white: #ffffff;
$background: #0e0e0e;
$chiller-red: #be0c36;
$chiller-green: #88b7a5;

$transition-basic: all .2s ease-in-out;

$bpx-x-large: 1200px;
$bp-large: 992px;
$bp-medium: 768px;
$bp-small: 480px;
$bp-tiny: 320px;


$mobile-bp: 800px;
